* { /* aqui está sendo estilizado tudo que não tem uma estilização personalizada */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Faz com que a largura inclua a borda e o espaçamento */
}

header, h1,
section h2,
section h3,
form button {
    font-family: 'Bungee', cursive; /* Seta a fonte escolhida*/
    font-weight: normal; /* Corrige o peso bold auto inserido pelo navegador */
}

body,
input,
textarea {    
    font-family: 'Roboto', sans-serif;
}

header { /* Estilização do cabeçalho */
    padding: 16px 0; /* Define do espaçamento interno */
    background-color: #182C61; /* Altera a cor do fundo */
    color: #ECF0F1; /* Altera a cor do elemento */
}

header nav li {
    display: inline; /* Apresenta os elementos em linha lado a lado */
    margin-left: 16px; /* Adiciona uma margem a esquerda */
    color: #ECF0F1;
    font-size: 18px; /* Altera o tamanho da fonte */
}

header nav li a { /* Altera a cor do texto que está linkado */
    color: #ECF0F1;
    text-decoration: none; /* Remove o underline dos links */ 
}

.container {
    max-width: 1280px; /* Seta a largura máxima da página */
    width: 100%; /* Ocupará 100% da largura definida acima */
    margin: 0 auto; /* Seta a margem */
}

header .container, 
section .container {
    display: flex; /* Coloca o menu ao lado do título */
    align-items: center; /* Centraliza os itens verticalmente */
    justify-content: space-between; /* Distribui os itens */
}

.brands-list img {
    height: 24px; /* Define o tamanho das imagens */
}

.brands-list li,
.social-links li {
    display: inline;
    margin-right: 8px;
}

section .container {
    align-items: flex-start; /* Alinha no início */
}

section {
    padding: 24px 0;
    color: #182C61;
}

section h2 {
    margin-bottom: 16px;
}

section p {
    margin-bottom: 8px;
}

.store-front {
    margin-right: 32px;
}

.social-links img {
    height: 24px;
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input, 
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

.social-links li a {
    text-decoration: none;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color: #182C61;
    color: #ECF0F1;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #344c8f;
}

input:focus, textarea:focus {
    outline-color: #182C61;
}

footer {
    background-color: #182C61;
    color:#ECF0F1;
    padding: 16px 0;
}
